.main__educacion {
    display: none;
    background-color: white;
    flex-direction: column;
    padding-bottom: 2rem;
}
    
@media screen and (min-width: 768px) {
    .main__educacion {
        display: block;
}
    
@media screen and (min-width: 1024px) {
    
}
