.header__imagen {
    width: 100%;
    margin-left: -8rem;
    margin-right: -2rem;
    margin-top: -1rem;
    margin-bottom: -0.2rem;
}

@media screen and (min-width: 768px) {
    .header__imagen {
        margin-left: -4rem;
        margin-right: -1rem;
        margin-top: -2rem;
        margin-bottom: -8rem;
    }
}

@media screen and (min-width: 1024px) {
    .header__imagen {
        margin-left: 1rem;
        margin-right: 0rem;
        margin-bottom: -8rem;
    }
}