.header__parrafo {
    font-size: 0.9rem;
    text-align: right;
    color: white;
    vertical-align: middle;

    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: .7rem;
}

@media screen and (min-width: 768px) {
    .header__parrafo {
        font-size: 1.3rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .header__parrafo {
        font-size: 1.3rem;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 4rem;
    }
}
